[Unit]
Description=istep edramrepair for host %i
After=istep-proc_prep_ipl@%i.service
Requires=istep-proc_prep_ipl@%i.service
Conflicts=obmc-host-stop@%i.target
ConditionPathExists=!/run/openbmc/host@%i-on

[Service]
Type=oneshot
ExecStart=/usr/bin/istep edramrepair
RemainAfterExit=yes

[Install]
RequiredBy=obmc-host-startmin@%i.target
