[Unit]
Description=istep updatehwmodel for host %i
After=istep-disableattns@%i.service
Requires=istep-disableattns@%i.service
Conflicts=obmc-host-stop@%i.target
ConditionPathExists=!/run/openbmc/host@%i-on

[Service]
Type=oneshot
ExecStart=/usr/bin/istep updatehwmodel
RemainAfterExit=yes

[Install]
RequiredBy=obmc-host-startmin@%i.target
