[Unit]
Description=istep proc_clock_test for host %i
After=istep-set_ref_clock@%i.service
Requires=istep-set_ref_clock@%i.service
Conflicts=obmc-host-stop@%i.target
ConditionPathExists=!/run/openbmc/host@%i-on

[Service]
Type=oneshot
ExecStart=/usr/bin/istep proc_clock_test
RemainAfterExit=yes

[Install]
RequiredBy=obmc-host-startmin@%i.target
