[Unit]
Description=istep disableattns for host %i
After=istep-startipl@%i.service
Requires=istep-startipl@%i.service
Conflicts=obmc-host-stop@%i.target
ConditionPathExists=!/run/openbmc/host@%i-on

[Service]
Type=oneshot
ExecStart=/usr/bin/istep disableattns
RemainAfterExit=yes

[Install]
RequiredBy=obmc-host-startmin@%i.target
